<div class="bundle-form">
  {% if product.has_only_default_variant %}
    <input
      name="id"
      value="{{ product.variants[0].id }}"
      type="hidden">
  {% else %}
    {%
      include 'product-options',
      product: product,
      selected_variant: selected_variant,
      style: settings.product_option_style
    %}
  {% endif %}

  {% if settings.product_show_stock_level != 'hidden'%}
     {%
        include 'product-stock-level',
        container: 'product_page',
        variant: selected_variant,
        inventory_quantity: selected_variant.inventory_quantity
      %}
  {% endif %}
  <div class="">
      {% if product.metafields.custom_fields["product_variants"] != blank %}
  {% assign product_refs = product.metafields.custom_fields["product_variants"] | split: "|" %}
    <select 
            id="product-quantity-select" onChange="window.location.href=this.value" 
            class="form-field-input form-field-select">
      <option value="#">{{ product.title }}</option>
      {% for product_handle in product_refs %}
      {% assign product_ref = all_products[product_handle] %}
        <option value="{{ product_ref.url }}">{{ product_ref.title }}</option>
      {% endfor %}
    </select>
 
{% endif %}
</div>
  <div class="product-form--atc">
  
    <div class="product-form--atc-qty form-fields--qty" data-quantity-wrapper>
      <div class="form-field form-field--qty-select">
        <div class="form-field-select-wrapper">
          <select
            id="product-quantity-select"
            class="form-field-input form-field-select"
            aria-label="{{ 'general.general.quantity' | t }}"
            data-quantity-select
          >
            {% for i in (1..9) %}
              <option {% if i == 1 %}selected {% endif %}value="{{ i }}">
                {{ i }}
              </option>
            {% endfor %}
            <option value="10+">
              10+
            </option>
          </select>
          <label
            for="product-quantity-select"
            class="form-field-title"
          >
            {{ 'general.general.quantity' | t }}
          </label>
          {% include 'icon-library', id: 'icon-chevron-down-small' %}
        </div>
  
      </div>
      <div class="form-field form-field--qty-input hidden">
        <input
          id="product-quantity-input"
          class="form-field-input form-field-number form-field-filled"
          value="1"
          name="quantity"
          type="text"
          pattern="\d*"
          aria-label="{{ 'general.general.quantity' | t }}"
          data-quantity-input
        >
        <label
          for="product-quantity-input"
          class="form-field-title"
        >
          {{ 'general.general.quantity' | t }}
        </label>
      </div>
    </div>
 
{% assign all_variants_available = true %}
{% for product in collection.products %}    
{% for variant in product.variants %}
  {% if variant.inventory_quantity < 1%}
    {% assign all_variants_available = false %}
    {% break %}
  {% endif %}
{% endfor %}
{% endfor %}    
    {% if all_variants_available == false %}
    <button disabled
      class="product-form--atc-button add-bundle"
      type="submit"
      data-product-atc style="text-align: center;">
      <span class="atc-button--text">
          SOLD OUT
      </span>
      <span class="atc-button--icon">
        {% include 'icon-library', id: 'icon-spinner' %}
      </span>
    </button>
    {% else %}
    <span
      class="product-form--atc-button add-bundle"
      type="submit"
      data-product-atc style="text-align: center;">
      <span class="atc-button--text">
          {{ 'product.buttons.add_to_cart' | t }}
      </span>
      <span class="atc-button--icon">
        {% include 'icon-library', id: 'icon-spinner' %}
      </span>
    </span>
    
    {% endif %}
  </div>
<p>Delivery and pick up options available at checkout.</p>
  <p class="cart-attribute__field location__set" style="display: none;">
    <label for="your-name">Pickup location set:</label>
    <input id="pickup__location" type="text" name="properties[Pickup location]" value="">
  </p>

</div>